
body html{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
@font-face{
    font-family: 'Cumprum-Italic.ttf';
    src: url(/fonts/Cuprum-Italic-VariableFont_wght.ttf)
}
@font-face{
    font-family: 'Pinyon-script';
    src: url(/fonts/PinyonScript-Regular.ttf)
}
.fade-in-text {
    opacity: 0; /* Comienza completamente transparente */
    transition: opacity 2s ease-in-out; /* La transición durará 2 segundos */
  }

.visible {
    opacity: 1; /* Cambia a completamente opaco */
    transition: opacity 2s ease-in;/*La transicion durar s segundos*/
  }

#container{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#formcontainer{
    position: absolute; /* Posiciona el div encima */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}
#formulario{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 50vw;
    border: solid wheat 3px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: aliceblue;

}

#formInputs{  
    font-family: 'Cumprum-Italic.ttf';  
    font-size: 3vh;
    color: lightsteelblue;
    width: 45vw;
    height: 35vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;
}
#marca{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pinyon-script';
    color: aliceblue;
    font-size: 5vw ;
    margin-top: 5vh;
    height: 30vh;
    width: auto;
}
#frases{
    width: 30vw;
    height: 101vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
#headers,#spech{
    font-family: 'Cumprum-Italic.ttf';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    width: 25vw;
    height: 25vh;
    border: solid wheat 5px;
    color: aliceblue;
    font-size: 5vh;
}
#spech{
    margin-bottom: 27vh;
    font-size: 3vh ;
    text-align: center;
}
#spechContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#spech2 > p{
    font-family: 'Cumprum-Italic.ttf';
    color: antiquewhite;
    font-size: 2.5vh;
}

input{
    font-size: 2.5vh;
}
input, textarea{
    font-family: 'Cumprum-Italic.ttf';
    opacity: 0.3;
    margin: 1vh;
}
textarea{
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 4vh;
    height: 10vh;
}
.carousel {
    padding: 0%;
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
#img1 ,#img2, #img3, #img4 {
    height: 102vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@keyframes slide {
    0% { transform: translateX(0%); }
    50% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
.slides {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 60s infinite;
}

.slide{
    width: 100%;
    flex-shrink: 0;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
